In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix
from warnings import filterwarnings
filterwarnings('ignore')

In [3]:
df = pd.read_csv("badminton.csv")
df.head(5)

    Outlook Temperature Humidity    Wind Play_Badminton
0  Overcast        Cool     High    Weak            Yes
1     Sunny        Mild   Normal  Strong             No
2      Rain        Mild   Normal  Strong             No
3     Sunny        Cool     High    Weak            Yes
4     Sunny        Cool     High  Strong             No

In [4]:
df.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play_Badminton'], dtype='object')

In [6]:
df.dtypes

Outlook           object
Temperature       object
Humidity          object
Wind              object
Play_Badminton    object
dtype: object

In [7]:
df.shape

(36, 5)

In [8]:
summary = df.describe()
summary

         Outlook Temperature Humidity  Wind Play_Badminton
count         36          36       36    36             36
unique         3           3        2     2              2
top     Overcast        Cool     High  Weak             No
freq          12          12       18    18             24

In [11]:
for column df.select_types(include=['object']):columns:
     print(df[column].value_counts method())

SyntaxError: invalid syntax (1306933564.py, line 1)